{% extends "base.html" %} 

{% block estaticos %}
	
{% endblock %} 
{% block header %}
	<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--deep-orange-500">	  			
		<div class="mdl-layout--large-screen-only mdl-layout__header-row ">	    		
	    	<div class=" mdl-layout-spacer"></div>
	    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
				<form>
		            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
		              	<i class="material-icons">search</i>
		            </label>
		            <div class="mdl-textfield__expandable-holder">
		              	<input class="mdl-textfield__input" type="text" id="search-field">
		            </div>
	            </form>
	      	</div>
		</div>
		<div class="mdl-typography--text-center ">
			<div class="mdl-layout-title">
				<h1 >{{page_title}}</h1>
			</div>

			
		</div>
		<div class="mdl-layout--large-screen-only mdl-layout__header-row">
			<!---->
		</div>	
		
		
			
	</header>

{% endblock %} 
{% block contedor %}
<main class="mdl-layout__content mdl-color--grey-100">
  	<div class="mdl-grid demo-content mdl-layout__tab-panel is-active">
	  
  	 	<section class="section--center mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  	 		<div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
			<form role="form"  action="" method="post" id="login" class="mdl-cell mdl-cell--12-col">{% csrf_token %}
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
				    <input class="mdl-textfield__input" type="text" name="username" id="username" required/>
				    <label class="mdl-textfield__label" for="username">Usuario</label>
			  	</div>
			  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
				    <input class="mdl-textfield__input" type="password" name="password" id="password" required/>
				    <label class="mdl-textfield__label" for="password">Contraseña</label>
			  	</div>	
				<div class="mdl-cell--10-col mdl-textfield--align-right">				   				   		
			  		<button class="mdl-button mdl-js-button  mdl-js-ripple-effect mdl-button--primary">
					  	ENTRAR
					</button>
		    	</div>
			</form>
			</div>
		</section>
    </div>                  
</main>
	
{% endblock %} 